form {
    max-width: 800px;
    min-width: 400px;
    margin: auto;
}

input[required] {
    border: 1px solid red;
}

fieldset {
    background-color: lightgrey;
    padding: 1rem;
}

fieldset:hover {
    background-color: grey;
}

fieldset:first-of-type {
    border-bottom: 5px solid black;
}

fieldset:last-of-type {
    border-bottom: 5px solid black;
}

button {
    background-color: black;
    color: white;
    border: 0px;
}
