@import url('./reset.css');

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.crono {
    background-color: yellow;
    padding: 3rem;
    width: 65%;
}

div.time {
    width: 100%;
    padding: 5rem 2.5rem;
    text-align: center;
}

div.buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

button {
    padding: 1rem 2rem;
}

h1 {
    font-size: 48px;
}


