.lista li:last-child {
    background-color: rgb(0, 222, 249);
}

.lista li:nth-child(odd) {
    text-decoration: underline;
    text-decoration-color: #2ade2f;
}

.lista {
    float: left;
    margin-right: 30px;
}

.lista li {
    float: left;
    margin-right: 10px;
    list-style: none;
}

.lista > li:nth-child(1)::after {
    content: '\01F600';
}

.lista > li:nth-child(2)::after {
    content: '\01F604';
}

.lista > li:nth-child(3)::after {
    content: '\01F601';
}

.lista > li:nth-child(4)::after {
    content: '\01F606';
}

.lista > li:nth-child(5)::after {
    content: '\01F605';
}

.lista > li:nth-child(6)::after {
    content: '\01F923';
}

.lista li[lang='en'] {
    text-transform: uppercase;
    font-size: 2em;
}

#provincias {
    list-style-type: lower-roman;
}

#provincias > li:nth-child(2) {
    list-style-type: initial;
}
